
/* Elements */
body {
    color: black;

}

/* IDs */
#gameArea {
    color: black;

}

#gameCanvas {
    border: solid black 1px;
}

#left {
    float: left;
    
}

#right {
    float: right;

}

/* Class */
.center {
    text-align: center;

}

